DATABASE_URL=postgres://localhost/evercam_dev
SNAP_IV=1234567891011121
SNAP_KEY=yourpassyourpassyourpassyourpass
THREESCALE_PROVIDER_KEY={{threescale_key}}
STRIPE_PUBLISHABLE_KEY={{stripe_publishable_key}}
STRIPE_SECRET_KEY={{stripe_secret_key}}
FOG_DIRECTORY=evercam-dashboard-assets
FOG_PROVIDER=AWS
PUSHER_APP=107484
PUSHER_KEY=1bff24ab1b3ff0d13741
PUSHER_SECRET=975bc9b81c8b909ea692
AWS_ACCESS_KEY={{aws_access_key}}
AWS_SECRET_KEY={{aws_secret_key}}
