description "seaweedfs"
start on filesystem or runlevel [2345]
stop on runlevel [!2345]
limit nofile 1000000 1000000

respawn
chdir /
setuid {{user_name}}
setgid {{user_name}}
console log

exec {{seaweedfs_path}} -v 0 volume -mserver {{seaweedfs_master_ip}}:9333 -ip {{seaweedfs_volume_ip}} -dir {{storage_dir}} -max 2000 -images.fix.orientation false -pulseSeconds 1
