  set daemon 60
  set logfile /var/log/monit.log
  set idfile /var/lib/monit/id
  set statefile /var/lib/monit/state

  set eventqueue
      basedir /var/lib/monit/events
      slots 100

  set httpd port 2812 and
    use address localhost
    allow localhost

  check system localhost
     if cpu usage (user) < 5% for 5 cycles then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

  check file media_logs_1 with path /home/ubuntu/evercam_media/log/erlang.log.1
    if match "emfile" then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

  check file media_logs_2 with path /home/ubuntu/evercam_media/log/erlang.log.2
    if match "emfile" then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

  check file media_logs_3 with path /home/ubuntu/evercam_media/log/erlang.log.3
    if match "emfile" then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

  check file media_logs_4 with path /home/ubuntu/evercam_media/log/erlang.log.4
    if match "emfile" then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

  check file media_logs_5 with path /home/ubuntu/evercam_media/log/erlang.log.5
    if match "emfile" then exec "/usr/local/bin/evercam_media_alert" as uid {{user_name}} and gid {{user_name}}

   include /etc/monit/conf.d/*
