build_dir: /tmp/build-media
remote_media_dir: /opt/evercam_media
local_media_dir: ~/evercam/evercam-media
version_to_deploy: "{{VERSION|default('master')}}"

storage_dir: /storage
seaweedfs_path: /opt/go/bin/weed

media_env_vars: "{% for key, value in env_vars.items() %}{{key.upper()}}={{value}} {% endfor %}"
mix_env_vars: "MIX_ENV=prod PORT=4000"

sumocollector_installer_download: https://collectors.eu.sumologic.com/rest/download/deb/64
sumologic_collector_accessid: "{{sumo_logic_id}}"
sumologic_collector_accesskey: "{{sumo_logic_key}}"
sumologic_collector_application_log_path:
  - name: "evercam-media"
    path: "/opt/evercam_media/log/erlang.log.*"
    use_multiline: false
    category: "evercam-media"
