DATABASE_URL=postgres://localhost/evercam_dev
INTERCOM_API_KEY=e07f964835e66a91d356be0171895dea792c3c4b
SNAP_IV=1234567891011121
SNAP_KEY=yourpassyourpassyourpassyourpass
THREESCALE_PROVIDER_KEY=b25bc9166b8805fc26a96f1130578d2b
STRIPE_PUBLISHABLE_KEY=pk_test_rT7PWpff4NNMHFLFmiOxby1p
STRIPE_SECRET_KEY=sk_test_hpuFOrLQXghl2CgIEDVcKsTH
FOG_DIRECTORY=evercam-dashboard-assets
FOG_PROVIDER=AWS
PUSHER_APP=107484
PUSHER_KEY=1bff24ab1b3ff0d13741
PUSHER_SECRET=975bc9b81c8b909ea692
AWS_ACCESS_KEY={{aws_access_key}}
AWS_SECRET_KEY={{aws_secret_key}}
